<div class="login">
    <div class="form">
        <form class="login-form" id="login" method="post" action="/admin/login">
            <span class="material-icons">Admin Login </span>
           <div class="text-danger">
            <input type="text" placeholder="email"  name="email" autocomplete="off" /></div>
            <div class="text-danger">
            <input type="password" placeholder="password"  name="password" required="true" /></div>
            <button type="submit">login</button>
            
        </form>
    </div>
</div>