<div class="login">
    <div class="form">
        <form class="login-form" id="signup" method="post" action="/register">
            <span>SignUp</span>
            <p>Fill in the data below.</p>
            <div class="text-danger">
                <input type="text" placeholder="name" name="username" autocomplete="off" /></div>

            <div class="text-danger">
                <input type="text" placeholder="email" name="email" required="true" /></div>

            <div class="text-danger">
                <input type="password" placeholder="password" name="password" required="true" /></div>
            <button type="submit">Register</button>
            <p class="mt-4">Already Registered?<a href="/login">Go to Login</a></p>
        </form>
    </div>
</div>